*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.montserrat-thin {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.roboto-semibold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}






body{
	color: gray;
	
}
.hero{
	margin:auto;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	border-top-right-radius: px;
	border-bottom-right-radius:px ;
	padding-bottom: 60px;
	padding-left:20px ;
	text-align: left;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.hero-section{
	color: black;
}
.navbar-nav{
	
	width: 100%;
	background-color: ;
}
.sections{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	

}
.sections p,h2{
	margin: 10px;
	text-align: center;
	padding-left: 15px;
	color: ;
}
.nav-item{
	border-right: ;
	padding: 12px 10px;
	margin: 5px;
}
.nav-link:hover{
	background-color: ;
	display: block;
	color: red;
	/*padding: 10px 25px;*/
	border-bottom: 1px solid black;



	
}
.nav-link{
	color:black;
	font-size: 16px;
	border-radius:px ;
	transition: 3s ease;
	font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-stretch: expanded;
}
.sticky{
	position: sticky;
	top:0px;
}
.flowin :hover .hillary{
	animation:image 3s ;
}
.flowin .hillary{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.flowin :hover .hero-section{
	animation: heroo 2s;
}
.cta-download:hover{
	background-color: gold;
	color: black;
}
.flowin :hover .cta{
	animation: hero-call-to-action 2s;
}

@keyframes image{
	from {transform:translateY(-50%);
		opacity: 0.2;
  }
  to { transform:translateY(0%);
  	opacity: 1;
  }
}

@keyframes heroo{
	from {transform:translateX(-10%);
		opacity: 0.2;
  }
  to { transform:translateX(0%);
  	opacity: 1;
  }
}
@keyframes hero-call-to-action{
	from {transform:translateY(70%);
		opacity: 0.2;
  }
  to { transform:translateY(0%);
  	opacity: 1;
  }
}


/*About section styling start*/
#about{
	margin: auto;
}

/* Marquee slider styling start */
.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 160px;
  overflow-x: hidden;
  background-color: ;
  margin: 0px;
  opacity:;
}
.contentname{
	font-size: 100px;
	color: transparent;
	background-image: linear-gradient(to right, red, blue);
	background-clip: text;
	font-family:;
	font-stretch: ultra-expanded;
	opacity: 0.6;
	font-weight: bolder;
	padding: 0px 10px;
	text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 4s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-40%); }
}

/* end of marquee slider */
.about-content{
	font-size:20px ;
	font-family: ;
	color:black;
	font-stretch:;
	font-weight: ;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.about-content-one{
	padding:;
	font-weight: ;
	text-align:;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.expertise{
	color: limegreen;
	padding:;
	font-weight: bolder;
}

.about:hover .about-content{
	animation: abt 2s;
}
.about:hover .about-content-one{
	animation: abt-one 2s;
}
.about .about-image{
	width: 100%;
	height: auto;
	border-radius: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

.about:hover .about-image{
	border-radius: ;
	border-bottom-left-radius:px;
	border: ;
	/*transform: rotate(45deg);*/
	animation: image-change 2s;
	

}

.about:hover .areas{
	color:black;
	padding: 20px;
	margin: 20px;
	animation: areas-appear 2s;
}

.skills {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.items{
	display: flex;
	justify-content: center;
	align-items: center;
}
.projects-done{
	display: flex;
	justify-content: center;
	align-items: center;
}
.skills .an{
	padding: 30px;
	font-weight: ;
	margin: 10px;
	box-shadow: ;


}
.skills .an:hover{
	padding: 30px;
	font-weight: ;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.mas{
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	padding: 10px;
	margin-top: 20px;
}
.skills .an h2{
	text-align: left;
}
@keyframes abt{
	from {transform:translateY(50%);
		opacity: 0.2;
  }
  to { transform:translateY(0%);
  	opacity: 1;
  }
}
@keyframes abt-one{
	from {transform:translateX(50%);
		opacity: 0.2;
  }
  to { transform:translateX(0%);
  	opacity: 1;
  }
}
@keyframes image-change{
	from {transform:rotate(0deg);
		opacity: 0.2;
		width: 40%;
		height: 240px;
  }
  to { transform:rotate(360deg);
  	opacity: 1;
  	width: 40%;
  	height: px;
  }
}

@keyframes areas-appear{
	from{
		top:-40px;
		color: green;

	}
	to{
		top: 0px;
		color: limegreen;
	}
}
.about button:hover,{
	background-color: limegreen;
	color:black ;

}
/*End of about section*/




.anim{
	background-color:  ;
	width: auto;
	height: auto;
	margin: px;
	border-radius: 20px;
	color:black; 
	font-size: px;
	text-align: center;
	padding: 10px 30px;
	border: ;
	margin: 10px;
	
	
}
.anim:hover{
	background-color: ;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: ;
	/*animation: flow 2s;*/
	background:;
	opacity: ;


}
.anim1{
	width: 100%;
	margin: auto;
	height: ;
	border-radius: 20px;
	color:green; 
	font-size: 20px;
	text-align: center;
	border: 1px solid black;
}
.anim2{
	background-color:  ;
	width: 100%;
	margin: auto;
	height: ;
	border-radius: 20px;
	color:green; 
	font-size: 20px;
	text-align: center;
	border: 1px solid black;
}
.anim1 img{
	padding: 20px;
}
.anim1 p,.anim2 p{
	display:none;
	height:auto ;
	color: white;
	margin: 10px;
}
/*
.an ol {
	display:none;
	height:auto ;
	color: ;
	margin: px;
}
.an ol li {
	font-size: 12px;
}

.an:hover ol{
	display: block;
}*/

.journey{
	display: flex;
	align-items: center;
	justify-content: center;

}
.journey button{
	border:none;
	padding: 20px;
	background-color: transparent;

}

.anim1:hover p,.anim2:hover p{
	background-color:  ;
	color: limegreen ;
	display: block;
	padding: 20px;
	padding-top: 10px;
	text-align: left;

}
@keyframes flow {
  from {transform:translateX(-20%);
  background:transparent }
  to { transform:translateX(0%);
  background-color:red }
}
.anim p{
	padding-top: 100px;
	padding-bottom: 100px;

}
.anim img{
	padding-top: 20px;
}




/*footer styling*/
form{
	background-color: transparent;
}
.form-control{
	background:;
	border: 0px;
	border-bottom: 
}
.form-control::placeholder{
	color:gray;
	padding: 10px;

}
label{
	color:black;
	font-size: 15px;
}
input[type=text]{
	background: transparent;
	color: gray;
	padding: 30px;
	border: 2px solid gray ;
}
input[type=email]{
	background: transparent;
	color: black;
}
textarea[type=text]{
	background: transparent;
	color:  gray;
	border: 2px solid gray ;
}
input[type=text]:focus{
	background: transparent;
	color: black;
}
input[type=email]:focus{
	background: transparent;
	color: black;
}
textarea[type=text]:focus{
	background: transparent;
	color: black;
}

.tech button{
	padding: 10px;
	border-radius: 20px;
	margin: 5px;
	color: #02181f;
	font-size: 20px;

}
.tech button:hover{
	background-color: #02181f;
	color: white;
}
.navigator{
	position: fixed;
	bottom: 20px;
	right: 35px;
	background-color: ;
	border: none;
	border-radius: 5px;
	padding: 15px;
}
---------------------------------------------------------------

@media only screen and (max-width: 768px) {
	.header-section-display{
		flex-direction: column-reverse;
	}
}
.educationn{
	display: none;
}
.table tr td{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px 20px;
	padding: 10px 40px;
}
/*
/*.kaman{
	display: flex;
	align-items: center;
	justify-content: center;
}*/