
body{
	background-image: linear-gradient(to right, lightblue, white);
}
.right-side-button{
	width: ;
	height: px;
	background-color: ;
	border: 2px solid black;
	margin-top:20px;
	border-bottom-left-radius: 100px;
	border-top-left-radius: 20px;


}
.left-side-button{
	width: ;
	height: 20px;
	background-color: white;
}
.left-side-projects-button{
	width:% ;
	height:;
	background-color: ;
	border: 2px solid black;
	margin-top:20px;
	margin-bottom:20px;
	border-bottom-right-radius: 100px;
	border-top-right-radius: 20px;

}
.slideshow-name{
  position: relative;
  background-color: ;
  animation-name: example;
  animation-duration: 6s;
  animation-delay: ;
  animation-iteration-count:infinite ;
  animation-timing-function: linear;
  text-transform: lowercase;
  font-family: sans-serif;
  width: 100%;
}

@keyframes example{
from{

	transform: translateX(-100%);
}
to{
	transform: translateX(100%);

}
}

